@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900&display=swap);
a,
body {
  color: var(--txt-clr);
}
.loader,
.nav-wrapper {
  position: fixed;
  width: 100%;
}
.contact-card,
.pulse {
  aspect-ratio: 1;
  border-radius: 50%;
}
.contact-card,
.menu,
.pulse-wrapper {
  text-align: center;
}

/* hsla(244, 61%, 10%, 0.9), */
:root {
  --bg-clr: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 14%, 1),
    hsla(0, 0%, 0%, 1)
  );
  --txt-clr: white;
  --dark-txt-clr: #121212;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
  --card-bg-clr: hsla(244, 38%, 63%, 0.5);
  --nav-bg-clr: hsla(0, 0%, 0%, 0.5);
  --grad-txt: linear-gradient(90deg, #7b3e59, #553976);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  padding: 3rem;
  scroll-snap-align: start;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: url("../assets/bg6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Manrope, "sans-serif";
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--contrast-clr);
}
.loader {
  background: url("../assets/loader.gif") center center/40% no-repeat #000;
  height: 100vh;
  inset: 0;
  z-index: 99999;
}
main {
  backdrop-filter: blur(0.3rem);
}
.nav-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  padding: 3rem;
  background: linear-gradient(rgba(153, 242, 200, 0.5), rgba(31, 64, 55, 0.5));
  backdrop-filter: blur(0.3rem);
  z-index: 9999;
  clip-path: circle(20px at 50% 45px);
  transition: 0.5s;
  animation: 1s infinite alternate expand;
  will-change: clip-path;
}
@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
.nav-wrapper:hover {
  clip-path: circle(30%);
  animation: none;
}
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.menu li {
  margin-top: 0.4rem;
}
.menu li a {
  color: #f5f5f5;
  font-family: Poppins, Sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.menu li a:hover {
  color: #121212;
  font-size: 3rem;
}
.mob-navbar {
  display: none;
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  min-height: 40vh;
  border-radius: 30px;
}
.pulse-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pulse {
  min-height: 1rem;
  margin-right: 1rem;
  position: relative;
}
.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
}
.pulse::before {
  z-index: 10;
  background: #9ece6a;
}
.pulse::after {
  background: #9ece6a;
  z-index: 1;
  animation: 1s infinite pulse;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.card-wrapper {
  display: flex;
  margin: 3rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: 0.3s;
}
.email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  display: flex;
  min-height: 7rem;
  padding: 1.3rem;
  align-items: center;
  justify-content: center;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes grad-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.contact-card::after,
.contact-card::before,
.email::after,
.email::before {
  content: "";
  position: absolute;
  background: conic-gradient(
    from var(--gradient-angle),
    rgba(95, 44, 130, 0.5),
    rgba(73, 160, 157, 0.5),
    rgba(73, 160, 157, 0.5),
    rgba(95, 44, 130, 0.5)
  );
  animation: 10s linear infinite grad-rotate;
  border-radius: inherit;
  inset: -0.3rem;
  z-index: -1;
}
.contact-card::after,
.email::after {
  filter: blur(3.5rem);
}
.contact-card:hover {
  text-decoration: underline;
}
.email {
  padding: 1.3rem;
  border-radius: 20px;
  margin-left: 2rem;
  animation: 0.7s slideUp;
}
@media only screen and (max-width: 600px) {
  .title-wrapper {
    margin: 2rem auto;
  }
  .contact-wrapper {
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  .mob-navbar {
    padding: 1rem;
    display: flex;
    background: var(--nav-bg-clr);
    border-radius: 30px;
    margin: 1.2rem auto;
    width: 100vw;
    justify-content: space-around;
  }
  .mob-link-wrapper {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
  }
  section {
    height: auto;
    margin: 2rem;
  }
  .mob-logo {
    font-size: 1.4rem;
    background: var(--grad-txt);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-wrapper {
    display: none;
  }
  main {
    margin: 0;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .pulse {
    margin-top: -1.4rem;
  }
  .email {
    background: 0 0;
    text-wrap: nowrap;
  }
  section:nth-child(3) {
    margin-bottom: 0;
  }
}
