@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,500;0,900&display=swap);
a,
body {
  color: var(--txt-clr);
}
.txt-gradient {
  background: linear-gradient(90deg, #7b3e59, #553976);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loader,
.nav-wrapper {
  position: fixed;
  width: 100%;
}
.contact-card,
.pulse {
  aspect-ratio: 1;
  border-radius: 50%;
}
.contact-card,
.menu,
.pulse-wrapper {
  text-align: center;
}

/* hsla(244, 61%, 10%, 0.9), */
:root {
  --bg-clr: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 14%, 1),
    hsla(0, 0%, 0%, 1)
  );
  --txt-clr: white;
  --dark-txt-clr: #121212;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
  --card-bg-clr: hsla(244, 38%, 63%, 0.5);
  --nav-bg-clr: hsla(0, 0%, 0%, 0.5);
  --grad-txt: linear-gradient(90deg, #7b3e59, #553976);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  padding: 3rem;
  scroll-snap-align: start;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  background: url("../assets/bg6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Manrope, "sans-serif";
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--contrast-clr);
}
.loader {
  background: url("../assets/loader.gif") center center/40% no-repeat #000;
  height: 100vh;
  inset: 0;
  z-index: 99999;
}
main {
  backdrop-filter: blur(0.3rem);
}
.nav-btn {
  position: fixed;
  top: 2.2rem;
  right: 2rem;
  font-size: 2.4rem;
  min-height: 2rem;
  aspect-ratio: 1;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  z-index: 999;
  transition: transform 0.3s ease-out;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-header h2 {
  font-size: 2.2rem;
}
.close-btn {
  background: transparent;
  color: white;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.close-btn:hover {
  color: #f7768e;
}
.menu {
  list-style: none;
  padding: 1rem;
  gap: 0.8rem;
  text-align: left;
}
.menu li a {
  display: block;
  text-transform: capitalize;
  font-family: Inter, "sans-serif";
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid rgba(203, 216, 245, 0.2);
  margin-bottom: 0.2rem;
  transition: padding ease 0.3s;
}
.menu li a:hover {
  color: #7dcfff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.3rem;
}
@media screen and (min-width: 676px) {
  .side-nav {
    width: 400px;
  }
}
.reveal {
  transform: translateX(0%);
}
.galaxy {
  width: 100%;
  height: 40vh;
  border: none;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  min-height: 40vh;
  border-radius: 30px;
}
.pulse-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pulse {
  min-height: 1rem;
  margin-right: 1rem;
  position: relative;
}
.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
}
.pulse::before {
  z-index: 10;
  background: #9ece6a;
}
.pulse::after {
  background: #9ece6a;
  z-index: 1;
  animation: 1s infinite pulse;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.card-wrapper {
  display: flex;
  margin: 3rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: 0.3s;
}
.email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  display: flex;
  min-height: 7rem;
  padding: 1.3rem;
  align-items: center;
  justify-content: center;
  transition: all ease-out 0.9s;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes grad-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.contact-card:hover {
  text-decoration: underline;
  background: #7aa2f7;
  box-shadow: 0 0 1em #7aa2f7;
}
.email {
  padding: 1.3rem;
  border-radius: 20px;
  margin-left: 2rem;
}
@media only screen and (max-width: 600px) {
  .title-wrapper {
    margin: 2rem auto;
  }
  .contact-wrapper {
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  .mob-navbar {
    padding: 1rem;
    display: flex;
    background: var(--nav-bg-clr);
    border-radius: 30px;
    margin: 1.2rem auto;
    width: 100vw;
    justify-content: space-around;
  }
  .mob-link-wrapper {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
  }
  section {
    height: auto;
    margin: 2rem;
  }
  .mob-logo {
    font-size: 1.4rem;
    background: var(--grad-txt);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-wrapper {
    display: none;
  }
  main {
    margin: 0;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .pulse {
    margin-top: -1.4rem;
  }
  .email {
    background: 0 0;
    text-wrap: nowrap;
  }
  section:nth-child(3) {
    margin-bottom: 0;
  }
}
