@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
a,
body {
  color: var(--txt-clr);
}
.loader,
body,
section {
  height: 100vh;
}
.loader,
.nav-wrapper {
  position: fixed;
  width: 100%;
}

/* hsla(244, 61%, 10%, 0.9), */
:root {
  --bg-clr: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 14%, 1),
    hsla(0, 0%, 0%, 1)
  );
  --txt-clr: white;
  --dark-txt-clr: #121212;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
  --card-bg-clr: #0f332e;
  --nav-bg-clr: hsla(0, 0%, 0%, 0.5);
  --grad-txt: linear-gradient(90deg, #7b3e59, #553976);
}
section {
  height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(3) {
  margin-bottom: 4rem;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
body {
  min-height: 100vh;
  max-width: 100%;
  line-height: 1.5;
  background: url("../assets/bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Manrope, "sans-serif";
  overflow-x: hidden;
}
main {
  backdrop-filter: blur(0.3rem);
  padding: 0.3rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  body,
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e26;
}
body::-webkit-scrollbar-thumb {
  background: #7aa2f7;
  border-radius: 100vw;
  box-shadow: 0 0 1em #7aa2f7;
}
.loader {
  background:
    url("../assets/loader.gif") center center/40% no-repeat,
    #000;
  inset: 0;
  z-index: 9999;
}
.nav-btn {
  position: fixed;
  top: 2.2rem;
  right: 2rem;
  font-size: 2.4rem;
  min-height: 2rem;
  aspect-ratio: 1;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  z-index: 999;
  transition: transform 0.3s ease-out;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.close-btn {
  background: transparent;
  color: white;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.close-btn:hover {
  color: #f7768e;
}
.menu {
  list-style: none;
  padding: 1rem;
  gap: 0.8rem;
}
.menu li a {
  display: block;
  text-transform: capitalize;
  font-family: Inter, "sans-serif";
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid rgba(203, 216, 245, 0.2);
  transition: padding ease 0.3s;
}
.menu li a:hover {
  color: #7dcfff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.3rem;
}
.hire-btn {
  background: transparent;
  border: 1px solid #7dcfff;
  padding: 0.325rem;
  margin: 0.8rem 0.2rem;
  scale: 1.1;
  transition: all ease 0.3s;
}
.hire-btn:hover {
  background: #7dcfff;
  box-shadow: 0 0 1em #7dcfff;
}
@media screen and (min-width: 676px) {
  .side-nav {
    width: 400px;
  }
}
.reveal {
  transform: translateX(0%);
}
#particles-js {
  position: fixed;
  inset: 0;
  z-index: -1; /* Set behind content */
}
/* Style your section element */
.hero-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
#hero-img {
  max-width: 18rem;
  min-height: 27rem;
  border-radius: 0.4rem;
  will-change: transform;
}
.message-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.6rem;
  margin-top: 9rem;
  margin-left: 5rem;
  max-width: 9rem;
  text-wrap: nowrap;
}
.about,
.card,
.skill-wrapper {
  text-align: center;
}
.message-wrapper h2 {
  line-height: 3.2rem;
  font-size: 2.8rem;
}
.txt-gradient {
  background: linear-gradient(90deg, #7b3e59, #553976);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message-wrapper p {
  font-size: 1rem;
}
.planet {
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 8rem;
}
.planet-ifr {
  min-height: 20rem;
  border: none;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  padding: 0.6rem;
  will-change: transform;
}
.about-title {
  border-right: 1px solid #7dcfff;
}
.about-title h2 {
  background: linear-gradient(90deg, #2980b9, #6dd5fa, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-title p {
  margin: 0.7rem auto;
}
.about-text {
  padding: 0.3rem;
}
.title {
  margin-bottom: 0.5rem;
  z-index: 2;
  background: linear-gradient(90deg, #2980b9, #6dd5fa, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title p {
  margin: 0.7rem auto;
  font-size: 0.2rem;
}
.skill-wrapper {
  margin-top: 8rem;
  min-height: 100vh;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3rem auto;
  will-change: transform;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 11rem;
  aspect-ratio: 1/1.3;
  max-width: 12rem;
  background: transparent;
  border-radius: 15px;
  transition: 0.3s;
  will-change: transform;
}
.card:hover {
  scale: 1.1;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes grad-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.card::after,
.card::before {
  content: "";
  position: absolute;
  background: conic-gradient(
    from var(--gradient-angle),
    #aa4b6b,
    #6b6b83,
    #3b8d99
  );
  animation: 8s linear infinite grad-rotate;
  border-radius: inherit;
  inset: -0.3rem;
  z-index: -1;
  opacity: 0.5;
}
.card::after {
  filter: blur(3.5rem);
}
.card-img {
  max-width: 4rem;
  min-height: 4rem;
}
@media only screen and (max-width: 1200px) {
  .planet {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  section {
    height: auto;
    margin: auto;
    padding: auto;
  }
  .hero-wrapper {
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
  }
  .img-wrapper {
    margin: 1rem auto;
  }
  .img-wrapper img {
    margin: -8rem auto 0;
  }
  .message-wrapper {
    margin: 0 auto;
    text-wrap: wrap;
    text-align: center;
  }
  .skill-wrapper {
    margin-top: 2rem;
  }
  .about img,
  .nav-placeholder,
  .nav-wrapper {
    display: none;
  }
  .about {
    margin-bottom: 5rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
  .about-title {
    padding-bottom: 2rem;
    border-right: none;
    border-bottom: 1px solid #7dcfff;
  }
  .about-title h2 {
  }
  .about-title p {
    font-family: Inter, "sans-serif";
  }
  main {
    margin: 0;
  }
  .card::before,
  .card::after {
    animation: none;
  }
}
