@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bg-clr: #121212;
  --txt-clr: white;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-clr);
}

body {
  min-height: 100vh;
  background: var(--bg-clr);
  color: var(--txt-clr);
  font-family: Manrope, "sans-serif";
}

.bar-wrapper {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-clr);
  margin-bottom: 0.7rem;
  max-width: 40vw;
  margin-left: 58vw;
  margin-top: 1.6rem;
  border-radius: 46px;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.logo-wrapper img {
  max-width: 70px;
  min-height: 70px;
  border-radius: 50%;
}

.link-wrapper {
  display: flex;
  gap: 0.4rem;
  margin-right: 0.7rem;
}

.link-wrapper li {
  list-style: none;
}

.link-wrapper a {
  transition: all ease 0.3s;
}

.link-wrapper a:hover {
  display: block;
  transform: translateY(-3px);
  text-decoration: underline;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 3rem auto;
  background: url("./assets/galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
}

.contact-wrapper {
  display: flex;
  margin: 3rem;
  justify-content: center;
  align-items: center;
}

.contact-card {
  padding: 1.3rem;
  border-radius: 10%;
  background-color: var(--contrast-clr);
  margin-left: 2rem;
}

.email {
  margin-left: 1rem;
}

.contact-card a:hover {
  display: block;
  transform: translateY(-4px);
  text-decoration: underline;
  transition: all ease 0.3s;
}

@media only screen and (max-width: 600px) {
  .bar-wrapper {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
  .contact-wrapper {
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
  }
}
