@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900&display=swap");

:root {
  --bg-clr: radial-gradient(
    ellipse at center,
    hsla(244, 61%, 10%, 0.9),
    hsla(0, 0%, 0%, 1)
  );
  --txt-clr: white;
  --dark-txt-clr: #121212;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
  --card-bg-clr: #0f332e;
  --nav-bg-clr: hsla(0, 0%, 0%, 0.5);
  --grad-txt: linear-gradient(90deg, #7b3e59, #553976);
}

section {
  height: 100vh;
  padding: 3rem;
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(3) {
  margin-bottom: 4rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-clr);
}

img {
  display: block;
  width: 100%;
}

body {
  height: 100vh;
  max-width: 100%;
  line-height: 1.5;
  background: var(--bg-clr);
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(20px);
  color: var(--txt-clr);
  font-family: Manrope, "sans-serif";
  overflow-x: hidden;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* scrollbar (doesn't work on firefox)*/
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e26;
}

body::-webkit-scrollbar-thumb {
  background: #7aa2f7;
  border-radius: 100vw;
  box-shadow: 0 0 1em #7aa2f7;
}

/* floating navbar */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background: linear-gradient(rgba(19, 78, 92, 0.5), rgba(113, 178, 128, 0.5));
  backdrop-filter: blur(0.3rem);
  z-index: 9999;
  clip-path: circle(20px at 50% 45px);
  transition: all ease 0.5s;
}

.nav-wrapper:hover {
  clip-path: circle(30%);
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.menu li {
  margin-top: 0.4rem;
}

.menu li a {
  color: whitesmoke;
  font-family: Poppins, "Sans-serif";
  font-size: 2.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.3s;
}

.menu li a:hover {
  color: #121212;
  font-size: 3rem;
}

.mob-navbar {
  display: none;
}

.hero-wrapper {
  display: flex;
  min-height: 80vh;
  max-width: 100%;
}

.img-wrapper img {
  max-width: 18rem;
  min-height: 27rem;
  border-radius: 0.4rem;
  /* box-shadow: 0 0 1em 0 hsla(255, 100%, 100%, 0.5); */
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.6rem;
  margin-top: 9rem;
  margin-left: 5rem;
  max-width: 9rem;
  text-wrap: nowrap;
}

.message-wrapper h2 {
  line-height: 3.2rem;
  font-size: 2.8rem;
}

.txt-gradient {
  background: linear-gradient(90deg, #7b3e59, #553976);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-wrapper p {
  font-size: 1rem;
}

.planet {
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 8rem;
}

.planet img {
  min-height: 20rem;
  margin-left: 4rem;
  animation: rotation 20s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mob-about {
  display: none;
}

.about {
  display: flex;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  min-height: 40vh;
  z-index: 1;
}

.title {
  margin-bottom: 0.5rem;
  z-index: 2;
}

.about p {
  z-index: inherit;
}

.skill-wrapper {
  text-align: center;
  margin-top: 8rem;
  min-height: 100vh;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 11rem;
  aspect-ratio: 1 / 1.3;
  max-width: 12rem;
  border-radius: 15px;
  transition: all ease 0.3s;
}

.card:hover {
  scale: 1.1;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes grad-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  background: conic-gradient(
    from var(--gradient-angle),
    rgba(218, 68, 83, 0.5),
    rgba(137, 33, 107, 0.5),
    rgba(137, 33, 107, 0.5),
    rgba(218, 68, 83, 0.5)
  );
  animation: grad-rotate 10s linear infinite;
  border-radius: inherit;
  inset: -0.3rem;
  z-index: -1;
}

.card::after {
  filter: blur(3.5rem);
}

.card-img {
  max-width: 4rem;
  min-height: 4rem;
}

@media only screen and (max-width: 1200px) {
  .planet {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  section {
    height: auto;
    margin: auto;
    padding: auto;
  }
  .mob-navbar {
    padding: 1rem;
    display: flex;
    background: var(--nav-bg-clr);
    border-radius: 30px;
    margin: 1.2rem auto;
    width: 100vw;
    justify-content: space-around;
  }

  .mob-link-wrapper {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
  }

  .mob-logo {
    font-size: 1.4rem;
    background: var(--grad-txt);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-wrapper {
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
  }

  .img-wrapper {
    margin: 1rem auto;
  }

  .img-wrapper img {
    margin: 0 auto;
    margin-top: -8rem;
  }

  .message-wrapper {
    margin: 0 auto;
    text-wrap: wrap;
    text-align: center;
  }

  .skill-wrapper {
    margin-top: 2rem;
  }

  .nav-wrapper {
    display: none;
  }

  .about {
    margin-bottom: 5rem;
  }

  .about img {
    display: none;
  }

  #mob-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }

  #mob-about > h2 {
    color: #9ece6a;
  }

  main {
    margin: 0 0;
  }
}
