@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --bg-clr: #121212;
  --txt-clr: white;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-clr);
}

body {
  min-height: 100vh;
  background: var(--bg-clr);
  color: var(--txt-clr);
  font-family: Manrope, 'sans-serif';
}


.bar-wrapper {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-clr);
  margin-bottom: 0.7rem;
  max-width: 40vw;
  margin-left: 58vw;
  margin-top: 1.6rem;
  border-radius: 46px;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.logo-wrapper img{
  max-width: 70px;
  min-height: 70px;
  border-radius: 50%;
}

.link-wrapper {
  display: flex;
  gap: 0.4rem;
  margin-right: 0.7rem;
}

.link-wrapper li {
  list-style: none;
}

.link-wrapper a {
  transition: all ease 0.3s;
}

.link-wrapper a:hover {
  display: block;
  transform: translateY(-3px);
  text-decoration: underline;
}

.hero-wrapper {
  display: flex;
  min-height: 80vh;
  max-width: 100%;
}

.img-wrapper img {
  max-width: 18rem;
  min-height: 27rem;
  margin: 3rem;
  margin-left: 7rem;
}

.message-wrapper {
  margin-top: 9rem;
  margin-left: 5rem;
}

.planet {
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 7rem;
}

.planet img {
  min-height: 29rem;
  margin-left: 2rem;
}

.about {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin-top: 1.2rem;
  min-height: 50vh;
}

.title {
  margin-bottom: 0.5rem;
}

.skill-wrapper {
  scale: 0.7;
  opacity: 0;
  text-align: center;
  margin-top: 2rem;
  min-height: 100vh;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain -400px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--contrast-clr);
  min-height: 9rem;
  max-width: 12rem;
  margin: 2.5rem 4.3rem;
  border-radius: 15px;
}

.card-img {
  max-width: 4rem;
  min-height: 4rem;
}

@keyframes fade-in {

  to {
    scale: 1;
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .planet {
    display: none;
  }

@media only screen and (max-width: 600px) {
  .hero-wrapper {
    flex-direction: column;
    margin-top: auto;
    text-align: center;
  }

.img-wrapper img {
   margin: 0 auto;
}

  .message-wrapper {
    margin: 0 auto;
  }
  .bar-wrapper {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
}
