@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --bg-clr: #121212;
  --txt-clr: white;
  --hover-clr: aquamarine;
  --contrast-clr: #1b1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-clr);
}

body {
  min-height: 100vh;
  max-width: 100%;
  background: var(--bg-clr);
  color: var(--txt-clr);
  font-family: Manrope, 'sans-serif';
  overflow-x: hidden;
}

/* need more info on styling scrollbar */

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--contrast-clr);
}


/* .bar-wrapper { */
/*   display: flex; */
/*   padding: 0.8rem; */
/*   align-items: center; */
/*   justify-content: space-between; */
/*   background-color: var(--contrast-clr); */
/*   margin-bottom: 0.7rem; */
/*   max-width: 40vw; */
/*   margin-left: 58vw; */
/*   margin-top: 1.6rem; */
/*   border-radius: 46px; */
/*   box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1); */
/* } */
/**/
/* .logo-wrapper img{ */
/*   max-width: 70px; */
/*   min-height: 70px; */
/*   border-radius: 50%; */
/* } */
/**/
/* .link-wrapper { */
/*   display: flex; */
/*   gap: 0.4rem; */
/*   margin-right: 0.7rem; */
/* } */
/**/
/* .link-wrapper li { */
/*   list-style: none; */
/* } */
/**/
/* .link-wrapper a { */
/*   transition: all ease 0.3s; */
/* } */
/**/
/* .link-wrapper a:hover { */
/*   display: block; */
/*   transform: translateY(-3px); */
/*   text-decoration: underline; */
/* } */

/* trying for a side navbar */
.navbar {
  display: flex;
  justify-content: center;
  max-width: 5rem;
  min-height: 100vh;
  position: fixed;
  background: var(--contrast-clr);
  padding: 2rem 4rem;
  transition: all ease 0.5s;
  z-index: 9999;
}

.nav-text {
  display: none;
}

.navbar:hover {
  max-width: 16rem;
}

.navbar:hover .nav-text {
  display: block;
}

.logo {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  transition: all ease 0.5s;
  transform: rotate(0deg);
}

.navbar:hover .logo {
  transform: rotate(-360deg);
}

.link-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.link-wrapper li {
  width: 100%;
}

.link-wrapper li a:hover {
  color: aquamarine;
}

.mob-navbar {
  display: none;
}

main {
  margin-left: 5rem;
}

.hero-wrapper {
  display: flex;
  min-height: 80vh;
  max-width: 100%;
}

.img-wrapper img {
  max-width: 18rem;
  min-height: 27rem;
  margin: 3rem;
  margin-left: 7rem;
  border-radius: 0.4rem;
}


.message-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.6rem;
  margin-top: 9rem;
  margin-left: 5rem;
  max-width: 9rem;
  text-wrap: nowrap;
}

.message-wrapper h2 {
  line-height: 3.2rem;
  font-size: 2.8rem;
}

.message-wrapper p {
  font-size: 1.3rem;
}

.planet {
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 5rem;
}

.planet img {
  min-height: 29rem;
  margin-left: 2rem;
  animation: rotation 20s infinite;
}

@keyframes rotation {
0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}

.about {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin: 1.2rem 3.2rem ;
  min-height: 50vh;
}

.title {
  margin-bottom: 0.5rem;
}

.skill-wrapper {
  scale: 0.7;
  opacity: 0;
  text-align: center;
  margin-top: 2rem;
  min-height: 100vh;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain -400px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--contrast-clr);
  min-height: 9rem;
  max-width: 12rem;
  margin: 2.5rem 4.3rem;
  border-radius: 15px;
}

.card-img {
  max-width: 4rem;
  min-height: 4rem;
}

@keyframes fade-in {

  to {
    scale: 1;
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .planet {
    display: none;
  }

@media only screen and (max-width: 600px) {
 .mob-navbar {
      padding: 1rem;
      display: flex;
      background: var(--contrast-clr);
      /* width: 40vw; */
      width: inherit;
      border-radius: 12px;
      box-shadow:  #111111 -3px 5px;
      justify-content: space-between;
      margin: 1rem 2rem;
    }

    .mob-link-wrapper {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 1rem;
    }

    .mob-logo {
      font-size: 1.4rem;
    }

  .hero-wrapper {
    flex-direction: column;
    margin-top: auto;
    text-align: center;
  }

    .img-wrapper {
      margin: 1rem auto;
    }

.img-wrapper img {
   margin: 0 auto;
}

  .message-wrapper {
    margin: 0 auto;
     text-wrap: wrap;
      text-align: center;
  }

    .about {
      margin: 0 auto;
      padding: 0.2rem;
      min-height: 34vh;
      margin-top: -3rem;
    }

    .about p {
      font-size: 0.7rem;
      text-wrap: wrap;
    }

  /* .bar-wrapper { */
  /*   max-width: 100%; */
  /*   margin: 0 auto; */
  /*   border-radius: 0; */
  /* } */
   
    .logo {
      display: none;
    }

    .navbar {
      display: none;
    }

    main {
      margin: 0 0;
    }

   

}
